In [ ]:
 str = input("Enter your state of origin:")
print ("Your state of origin is: ", str)
print ("The first character is: ", str[0])
print ("The characters starting from 3rd to 5th are: ", str[2:5])
print ("The strings starting from 3rd character is: ", str[2:])
print ("State of origin two times", str * 2)

In [ ]:
# Input from user
m = float(input("Enter mass in kilograms: "))

# Constant value for the speed of light in m/s
c = 2996792458

# Calculating the energy using Einstein's equation
energy = m * c **2

# Displaying the result
print(f"The energy equivalent to {m} kg of mass is {energy} joules.")

In [ ]:
list = ['Anaconda', 786, 2.23, 'Jupyter', 70.2]
shortlist = [321, 'Python']


print(list)   #Prints complete list
print(list[0]) #Prints the first element of the list '''
print(list[1:3]) # Print the element starting from 2nd till 3rd
print(list[2:]) # Print elements starring from 3rd element '''

print(shortlist * 2) # Prints list two times
print(list + shortlist) # Print conconcatenated lists

In [ ]:
tuple  = ("Ekiti", 750, 'Oshogbo', 250, "Akure", 500)
s_tuple = ("Abeokuts", 300, "Ogbomoso")

#Prints the complete tuple
print(tuple)

# Prints last element of the tuple
print (tuple[-1])

#prints elements of the tuple starting from 2nd till 3rd
print(tuple[2:4])
 
#Prints elements of the tuple starting from 3rd element
print(tuple[3:])

#print the contents of the tuple twice
print (s_tuple * 3)

# prints concatenated tuples
print (tuple + s_tuple)

In [1]:
# Returns false as game_1 is not equal to game_2
game_1 = 2
game_2 = 4

print(bool(game_1== game_2))
#Or
print(game_1 == game_2)

# Returns false as val is None
val = None

# Returns false as num is an empty sequence
num = ()
print(bool(num))

# Returns true as age is boolean
age = True
print(bool(age))

False
False
False
True

In [3]:
# Convert to int

grade = int(70)  # grade will be 70
gpa = int(4.9)   # gpa will be 4.9
cgpa = int("4") # cgpa will be 4

print(f"Grade = {grade}")
print(f"GPA = {gpa}")
print(f"CGPA) = {cgpa}")

Grade = 70
GPA = 4
CGPA) = 4

In [5]:
# Convert to float 
grade = float(97)
gpa = float(5)
cgpa = float("4.7")

print(f"Grade = {grade}")
print(f"GPA = {gpa}")
print(f"CGPA = {cgpa}")

Grade = 97.0
GPA = 5.0
CGPA = 4.7