In [1]:
print("I have been employed to work for School of Science and Technology.")
print("So my job is to provide and provide a code for in a tabular form that shows: Name, Age, Height, Scores.\n")

# So welcome once again to my tutorial. Last week project was quit amazing
AAA = 'So welcome again to my tutorial.'
# But this week I promise you good things.
BBB = 'Last week project was quite amazing.'

TOTAL = ''+AAA + '' + BBB
print(TOTAL)

print('Let us begin to code.' )

# STEP 1. We are going to write a tuple for the name of the girls with thier corresponding age, height and score.
print("Below is the data table  girls")
from tabulate import tabulate
# The name, age, score, height will be defined as a variable for one header
header = ["NAME", "AGE", "HEIGHT", "SCORE"]
# WE WILL DECLARE A VARIABLE FOR THE DATA FOR EACH PERSON.
info = [["Samantha", 17, 5.5, 80],
        ["Jada", 16, 6.0, 85],
       ["Jare", 17, 5.4, 70],
       ["Claire", 18, 5.9, 60],
       ["Elizabeth", 16, 5.6, 76],
       ['Mary', 18, 5.6, 66],
       ['Susan', 17, 6.1, 87],
       ['Waje', 20, 6.0, 95],
       ['Taibat', 19, 5.7, 50],
       ['Lilian', 12, 5.5, 49],]
# Next we will create a table using a tabulate function 

table = tabulate(info, header)
print(table)

# We repeat the same process for both boys and girls.
print("Below is the table for boys")
header = ['NAME', 'AGE', 'HEIGHT', 'SCORE']
# We declare a variable for the data
info = [['Charles', 19, 5.7, 74],
       ['Jude', 16, 5.9, 87],
       ['James', 18, 5.8, 75],
       ['Kelvin', 17, 6.1, 68],
       ['Biodun', 20, 5.4,66],
       ['Wale', 19, 5.8, 78],
       ['Kunle', 16, 6.1,87],
       ['Matthew', 18, 5.4,98],
       ['Tom', 17, 5.8, 54],
       ['Kayode', 19, 5.7, 60]]

# Finally we will create a table using the table function.
table = tabulate(info, header)
print(table)

I have been employed to work for School of Science and Technology.
So my job is to provide and provide a code for in a tabular form that shows: Name, Age, Height, Scores.

So welcome again to my tutorial.Last week project was quite amazing.
Let us begin to code.
Below is the data table  girls
NAME         AGE    HEIGHT    SCORE
---------  -----  --------  -------
Samantha      17       5.5       80
Jada          16       6         85
Jare          17       5.4       70
Claire        18       5.9       60
Elizabeth     16       5.6       76
Mary          18       5.6       66
Susan         17       6.1       87
Waje          20       6         95
Taibat        19       5.7       50
Lilian        12       5.5       49
Below is the table for boys
NAME       AGE    HEIGHT    SCORE
-------  -----  --------  -------
Charles     19       5.7       74
Jude        16       5.9       87
James       18       5.8       75
Kelvin      17       6.1       68
Biodun      20       5.4       66
Wale        19       5.8       78
Kunle       16       6.1       87
Matthew     18       5.4       98
Tom         17       5.8       54
Kayode      19       5.7       60

In [ ]:
# Explain what you want to do.
print("Good day everyone.")
print("Interswitch offered me a job as a full stack developer.")
print('Who is a full stack developer?')
print('It is a person who write codes as a backend or frontend.')
print("All the staff are to fill in their correct age and years of experience")

# Devolop a python program that takes the years of experience and input the years of experience and the age of the staff
# I will declare a variable for years of experience and the age of the staff. 
A = float(input('Enter your age:'))
B = float(input('Enter the number of years of your working experience: '))

# Next up. We will be writing using an if statement to specify the certain amount of salary for the company.


if B > 25 and A>= 55:
    ATR = 5600000
    print(f'Your Anuual Tax Revenue is:{ATR}' ) 
    
if B > 20 and A >= 45:
    ATR = 4480000
    print(f'Your Annual Revenue is: {ATR}' )
    
if B > 10 and A >= 35:
    ATR = 1500000
    print(f'Your Annual Tax Revenue is: {ATR}')
    
else:
    B > 35 and A >= 10
    ATR = 550000
    print(f'Your Annual Tax Revenue is: {ATR}')
    
# If you notice if there was no ATR when you attached your name it means you are not qualified.

Good day everyone.
Interswitch offered me a job as a full stack developer.
Who is a full stack developer?
It is a person who write codes as a backend or frontend.
All the staff are to fill in their correct age and years of experience